.fade-in {
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Search animation(s)
@keyframes resultSlideDown {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Main animation(s)
@keyframes mainSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// Card animation(s)
@keyframes animateX {
  17% {
    transform: translateX(-7%);
  }
  51% {
    transform: translateX(7%);
  }
  83% {
    transform: translateX(-7%);
  }
}

@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// Footer animation(s)
@keyframes sideBarTogglerSlideIn {
  from {
    transform: translateX(15rem) scale(10);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
