// the -v5's are the actual colors. Colors above them are the darker variants while those below lighter

$theme-primary: rgb(0, 141, 205); // rgb(5, 116, 155);
$prim-r: 0;
$prim-g: 141;
$prim-b: 205;
$theme-primary-v1: rgb(
  $prim-r - (5 * 4),
  $prim-g - (25 * 4),
  $prim-b - (25 * 4)
);
$theme-primary-v2: rgb(
  $prim-r - (5 * 3),
  $prim-g - (25 * 3),
  $prim-b - (25 * 3)
);
$theme-primary-v3: rgb(
  $prim-r - (5 * 2),
  $prim-g - (25 * 2),
  $prim-b - (25 * 2)
);
$theme-primary-v4: rgb(
  $prim-r - (5 * 1),
  $prim-g - (25 * 1),
  $prim-b - (25 * 1)
);
$theme-primary-v5: rgb($prim-r, $prim-g, $prim-b);
$theme-primary-v6: rgb(
  $prim-r + (5 * 1),
  $prim-g + (25 * 1),
  $prim-b + (25 * 1)
);
$theme-primary-v7: rgb(
  $prim-r + (5 * 2),
  $prim-g + (25 * 2),
  $prim-b + (25 * 2)
);
$theme-primary-v8: rgb(
  $prim-r + (5 * 3),
  $prim-g + (25 * 3),
  $prim-b + (25 * 3)
);
$theme-primary-v9: rgb(
  $prim-r + (5 * 4),
  $prim-g + (25 * 4),
  $prim-b + (25 * 4)
);

$theme-secondary: rgb(154, 138, 0); //yellow-like
$sec-r: 154;
$sec-g: 138;
$sec-b: 0;
$theme-secondary-v1: rgb(
  $sec-r - (25 * 4),
  $sec-g - (25 * 4),
  $sec-b - (2 * 4)
);
$theme-secondary-v2: rgb(
  $sec-r - (25 * 3),
  $sec-g - (25 * 3),
  $sec-b - (2 * 3)
);
$theme-secondary-v3: rgb(
  $sec-r - (25 * 2),
  $sec-g - (25 * 2),
  $sec-b - (2 * 2)
);
$theme-secondary-v4: rgb(
  $sec-r - (25 * 1),
  $sec-g - (25 * 1),
  $sec-b - (2 * 1)
);
$theme-secondary-v5: rgb($sec-r, $sec-g, $sec-b);
$theme-secondary-v6: rgb(
  $sec-r + (25 * 1),
  $sec-g + (25 * 1),
  $sec-b + (2 * 1)
);
$theme-secondary-v7: rgb(
  $sec-r + (25 * 2),
  $sec-g + (25 * 2),
  $sec-b + (2 * 2)
);
$theme-secondary-v8: rgb(
  $sec-r + (25 * 3),
  $sec-g + (25 * 3),
  $sec-b + (2 * 3)
);
$theme-secondary-v9: rgb(
  $sec-r + (25 * 4),
  $sec-g + (25 * 4),
  $sec-b + (2 * 4)
);

$theme-tertiary: rgb(128, 128, 128); //grey
$tert-r: 128;
$tert-g: 128;
$tert-b: 128;
$theme-tertiary-v1: rgb(
  $tert-r - (25 * 4),
  $tert-g - (25 * 4),
  $tert-b - (25 * 4)
);
$theme-tertiary-v2: rgb(
  $tert-r - (25 * 3),
  $tert-g - (25 * 3),
  $tert-b - (25 * 3)
);
$theme-tertiary-v3: rgb(
  $tert-r - (25 * 2),
  $tert-g - (25 * 2),
  $tert-b - (25 * 2)
);
$theme-tertiary-v4: rgb(
  $tert-r - (25 * 1),
  $tert-g - (25 * 1),
  $tert-b - (25 * 1)
);
$theme-tertiary-v5: rgb($tert-r, $tert-g, $tert-b);
$theme-tertiary-v6: rgb(
  $tert-r + (25 * 1),
  $tert-g + (25 * 1),
  $tert-b + (25 * 1)
);
$theme-tertiary-v7: rgb(
  $tert-r + (25 * 2),
  $tert-g + (25 * 2),
  $tert-b + (25 * 2)
);
$theme-tertiary-v8: rgb(
  $tert-r + (25 * 3),
  $tert-g + (25 * 3),
  $tert-b + (25 * 3)
);
$theme-tertiary-v9: rgb(
  $tert-r + (25 * 4),
  $tert-g + (25 * 4),
  $tert-b + (25 * 4)
);

@mixin themeBg($bg-color: #eee) {
  background-color: $bg-color;
  background-size: cover;
  opacity: 0.2;
}

@mixin debugger($color: red) {
  &,
  * {
    border: 1px solid $color;
  }
}

@mixin before-or-after(
  $bg: $theme-primary-v8,
  $w: 100%,
  $h: 100%,
  $br: 0,
  $tr: 0.35s,
  $t: 0,
  $l: 0,
  $r: 0,
  $b: 0,
  $zi: -1,
  $bs: none
) {
  position: absolute;
  content: ' ';
  width: $w;
  height: $h;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
  z-index: $zi;
  background: $bg;
  border-radius: $br;
  box-shadow: $bs;
  transition: $tr;
}
