@import 'constants.scss';

.Main {
  animation: mainSlideIn 0.6s;
  height: 100vh;
  overflow-x: hidden;

  &::before {
    @include before-or-after($zi: -1, $tr: unset);
    @include themeBg();
    position: fixed;
    width: 100%;
  }

  &.inert {
    transition: filter 0.2s;
    filter: blur(0.2rem);
  }

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // @include debugger();
  }

  .tab-links-container {
    // @include debugger();
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem;
    background-color: #eee;
    max-width: 18rem;
    border-radius: 3rem;
    border-left-width: 0.25rem;
    border-right-width: 0.25rem;
    position: relative;
  }

  .tab-indicator {
    $diff: 80;

    background-color: rgba(
      $prim-r + $diff,
      $prim-g + $diff,
      $prim-b + $diff,
      0.45
    );
    position: absolute;
    left: 0;
    height: calc(100% - 0.5rem);
    width: 3.85rem;
    z-index: 0;
    border-radius: 2rem;
    display: inline-block;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.35s ease;
  }

  .tab-link {
    $diff: 25;

    font-size: 0.8rem;
    font-weight: bolder;
    border-radius: 1.5rem;
    border-bottom: 0.15rem solid transparent;
    padding: 0.6rem 1rem 0.4rem 1rem;
    transition: 0.35s;
    display: inline-flex;
    align-items: center;
    position: static;
    z-index: 1;
    transition: 0.35s;
    color: $theme-primary-v5;

    &.active {
      color: $theme-primary-v4;
    }

    &:hover,
    &:focus {
      border-bottom-color: rgba(
        $prim-r + $diff,
        $prim-g + $diff,
        $prim-b + $diff,
        0.45
      );
    }
  }

  .hourlies-toggler {
    border: 0.125rem solid transparent;
    border-radius: 2rem;
    color: white;
    height: 2rem;
    display: inline-block;
    width: 6.25rem;
    font-weight: bold;
    position: absolute;
    min-height: unset;
    top: 0;
    z-index: 4;
    align-self: center;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
    background-color: $theme-primary-v5;
    will-change: transform;
    transform: translateY(25rem);
    transition: 0.5s, background-color 0.3s, font-size 0s;

    &.toggle-close {
      width: 3rem;
      height: 3rem;
      color: white;
      position: fixed;
      z-index: 9;
      border-color: white;
      background-color: transparent !important;
      font-size: 1.5rem;
      transition: 0.3s,
        transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
      transform: translate(calc(50vw - 2rem), calc(0.5rem)) !important;

      &:hover,
      &:focus {
        background-color: white !important;
        color: $theme-tertiary-v3;
      }
    }

    &:hover,
    &:focus {
      color: $theme-tertiary-v3 !important;
      background-color: white;
    }
  }

  .hourlies-wrapper {
    // @include debugger();
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    z-index: 8;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border-radius: 0 0 50% 50%;
    will-change: transform;
    contain: strict;
    transform: translateY(-150vh) scale(3);
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;

    &.open {
      $diff: -90;

      background-color: rgba(
        $prim-r + $diff,
        $prim-g + $diff,
        $prim-b + $diff,
        0.95
      );
      transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1),
        border-radius 0s ease 0.2s, background-color 0.25s;
      transform: translateY(0);
      border-radius: 0;

      .hourlies-container-1,
      .hourlies-container-2 {
        transform: translateY(0);
        opacity: 1;
      }

      .hourlies-container-1 {
        transition-delay: 0.65s;
      }

      .hourlies-container-2 {
        transition-delay: 0.85s;
      }
    }

    .container {
      max-width: 50rem;
    }
  }

  .legend {
    padding: 0 0.5rem;
  }

  .hourlies-container-1,
  .hourlies-container-2 {
    opacity: 0;
    will-change: transform;
    transform: translateY(4rem);
    transition: transform 0.5s, opacity 0.6s;

    h2 {
      margin-top: 2rem;
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .hourlies-container-2 {
    will-change: transform;
    transform: translateY(2rem);
  }

  .list-view {
    // @include debugger();
    min-height: 12rem;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    overflow-x: auto;
    border: 0.125rem solid white;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .hourly-wrapper {
    background: transparent !important;
    border-radius: inherit;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    padding: 0.75rem 0.85rem;
    font-size: 0.9rem;
    min-width: 7rem; // support purpose
    min-width: calc(min(7rem, 27.5%));
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0.125rem;

    &:nth-child(even) {
      .weather-image {
        animation-delay: 1s !important;
      }
    }

    > * {
      position: static;
      z-index: 1;
    }

    .weather-image {
      height: 3.5rem;
      width: 3.5rem;
      max-width: 3.5rem;
      margin: 0.25rem 0;
      align-self: center;
    }

    .hour {
      display: inline-flex;
      flex-direction: column;

      sup {
        font-size: 0.7rem;
        opacity: 0.6;
      }
    }

    .main {
      font-size: 0.8rem;
      font-weight: bold;
    }

    .temp {
      margin-top: 0.35rem;
      opacity: 0.8;
    }

    .temp-meter {
      height: 0%;
      width: 100%;
      background-color: skyblue;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      will-change: transform;
      animation: slideUp 0.85s;
    }
  }

  h2 {
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: left;
    margin: 4vh 1rem 0.75rem;
    width: calc(100% - 2rem);
  }

  .daily-list-view {
    border-radius: 1rem;
    width: calc(100% - 2rem);
    margin: 0.25rem 1rem 1rem;
    display: flex;
    overflow-x: auto;
    // @include debugger();
  }
}
