@import 'constants.scss';

.Main {
  animation: mainSlideIn 0.5s;

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // @include debugger();
  }

  .tab-links-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.75rem;
    max-width: 18rem;
    margin: 0.8vh 0;
    position: relative;
    // @include debugger();
  }

  .tab-indicator {
    position: absolute;
    left: 0;
    height: calc(100% - 0.125rem);
    width: 4.75rem;
    z-index: 0;
    border-radius: 2rem;
    display: inline-block;
    transition: 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.35s ease;
    transform: translateX(0.75rem);
    background-color: rgba($prim-r + 50, $prim-g + 50, $prim-b + 50, 0.2);
  }

  .tab-link {
    color: $theme-primary-v4;
    font-size: 0.8rem;
    font-weight: bolder;
    border-radius: 2rem;
    border-bottom: 0.125rem solid transparent;
    padding: 0.5rem 1rem;
    transition: 0.35s;
    display: inline-flex;
    align-items: center;
    position: static;
    z-index: 1;
    transition: 0.35s;

    &.active {
      color: $theme-primary-v4;
    }

    &:hover,
    &:focus {
      border-bottom-color: rgba($prim-r + 25, $prim-g + 25, $prim-b + 25, 0.35);
    }
  }

  .hourlies-wrapper {
    // @include debugger();
    height: 2rem;
    width: 6rem;
    top: 0;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    z-index: 4;
    align-items: center;
    color: white;
    flex-direction: column;
    border-radius: 12rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
    transform: translateY(26.85rem);
    transition: 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.open {
      z-index: 5;
      transition: 0.35s cubic-bezier(0.645, 0.045, 0.355, 1),
        width 0.35s ease 0.2s, border-radius 0.5s ease 0.2s,
        background-color 0.2s;
      transform: translateY(0) !important;
      height: 100vh;
      width: 100vw;
      position: fixed;
      border-radius: 0;

      .today-hourly,
      .tomorrow-hourly {
        transform: translateY(0);
        opacity: 1;
      }

      .today-hourly {
        transition-delay: 0.55s;
      }

      .tomorrow-hourly {
        transition-delay: 0.75s;
      }
    }
  }

  .hourlies-toggler {
    border: 0.125rem solid transparent;
    border-radius: 2rem;
    color: white;
    height: 2rem;
    display: inline-block;
    width: 6rem;
    font-weight: bold;
    position: absolute;
    min-height: unset;
    align-self: flex-start;
    background-color: white;
    transform: translate(0);
    transition: 0.35s ease, font-size 0s;

    &.toggle-close {
      width: 3rem;
      height: 3rem;
      color: white;
      position: fixed;
      z-index: 7;
      top: 0;
      left: 0;
      border-color: white;
      background-color: transparent !important;
      font-size: 1.5rem;
      transform: translate(calc(100vw - 3.75rem), calc(0.5rem));
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover,
      &:focus {
        background-color: white !important;
        color: $theme-tertiary-v3;
      }
    }

    &:hover,
    &:focus {
      background-color: $theme-tertiary-v3 !important;
      color: white;
    }
  }

  .legend {
    padding: 0 0.5rem;
  }

  .today-hourly,
  .tomorrow-hourly {
    transition: transform 0.5s, opacity 0.6s;
    opacity: 0;
    transform: translateY(4rem);

    h2 {
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .tomorrow-hourly {
    transform: translateY(2rem);
  }

  .scroll-view {
    max-height: 12rem;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    overflow-x: auto;
    border: 0.125rem solid white;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .hourly-wrapper {
    background: transparent !important;
    border-radius: inherit;
    padding: 0.75rem 0.85rem;
    font-size: 0.9rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.25rem;

    &:nth-child(even) {
      .weather-image {
        animation-delay: 1s !important;
      }
    }

    .weather-image {
      max-height: 3.25rem;
      max-width: 3.25rem;
      margin: 0.25rem 0;
      background: {
        image: url('/src/images/cloudy-sun.png');
        size: contain;
        position: center;
        repeat: no-repeat;
      }
    }

    .hour {
      display: inline-flex;
      flex-direction: column;

      sup {
        font-size: 0.7rem;
        opacity: 0.6;
      }
    }

    .main {
      font-size: 0.8rem;
      font-weight: bold;
    }

    .temp {
      margin-top: 0.35rem;
      opacity: 0.8;
    }
  }

  h2 {
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: left;
    margin: 4vh 1rem 0.75rem;
    width: calc(100% - 2rem);
  }

  .scroll-section {
    border-radius: 1rem;
    width: calc(100% - 2rem);
    margin: 0.25rem 1rem 1rem;
    display: flex;
    overflow-x: auto;
    // @include debugger();
  }
}

body {
  //primary
  &.theme--primary--0 {
    .tab-link {
      $diff: 25;
      color: $theme-primary-v5;

      &.active {
        color: $theme-primary-v4;
      }

      &:hover,
      &:focus {
        border-bottom-color: rgba(
          $prim-r + $diff,
          $prim-g + $diff,
          $prim-b + $diff,
          0.4
        );
      }
    }

    .tab-indicator {
      $diff: 85;

      background-color: rgba(
        $prim-r + $diff,
        $prim-g + $diff,
        $prim-b + $diff,
        0.35
      );
    }

    .hourlies-wrapper.open {
      $diff: -80;

      background-color: rgba(
        $prim-r + $diff,
        $prim-g + $diff,
        $prim-b + $diff,
        0.95
      );
    }

    .hourlies-toggler {
      background-color: $theme-primary-v6;
    }
  }

  //secondary
  &.theme--secondary--0 {
    .tab-link {
      $diff: 25;
      color: $theme-secondary-v5;

      &.active {
        color: $theme-secondary-v4;
      }

      &:hover,
      &:focus {
        border-bottom-color: rgba(
          $sec-r + $diff,
          $sec-g + $diff,
          $sec-b + $diff,
          0.4
        );
      }
    }

    .tab-indicator {
      $diff: 55;

      background-color: rgba(
        $sec-r + $diff,
        $sec-g + $diff,
        $sec-b + $diff,
        0.35
      );
    }

    .hourlies-wrapper.open {
      $diff: -75;

      background-color: rgba(
        $sec-r + $diff,
        $sec-g + $diff,
        $sec-b + $diff,
        0.95
      );
    }

    .hourlies-toggler {
      background-color: $theme-secondary-v6;
    }
  }

  //tertiary
  &.theme--tertiary--0 {
    .tab-link {
      $diff: 25;
      color: $theme-tertiary-v4;

      &.active {
        color: $theme-tertiary-v3;
      }

      &:hover,
      &:focus {
        border-bottom-color: rgba(
          $tert-r + $diff,
          $tert-g + $diff,
          $tert-b + $diff,
          0.35
        );
      }
    }

    .tab-indicator {
      $diff: 55;

      background-color: rgba(
        $tert-r + $diff,
        $tert-g + $diff,
        $tert-b + $diff,
        0.35
      );
    }

    .hourlies-wrapper.open {
      $diff: -80;

      background-color: rgba(
        $tert-r + $diff,
        $tert-g + $diff,
        $tert-b + $diff,
        0.95
      );
    }

    .hourlies-toggler {
      background-color: $theme-tertiary-v5;
    }
  }

  &.night-time {
    .hourlies-wrapper.open {
      $diff: -100;

      background-color: rgba(
        $tert-r + $diff,
        $tert-g + $diff,
        $tert-b + $diff,
        0.95
      );
    }

    .hourlies-toggler {
      background-color: $theme-tertiary-v2;
    }
  }
}
