@import 'constants';

html,
body {
  margin: 0;
  height: 100vh;
  background-color: #eee;
}

body {
  overflow: hidden;
  transition: background-color 0.3s;
  position: relative;
  z-index: -2;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  height: 100%;
  background: transparent;
}

.View {
  display: flex;
  transition: 0.3s;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

button {
  min-height: 2.5rem;
  min-width: 2.5rem;

  &.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    border: none;
    background: {
      color: transparent;
      repeat: no-repeat;
      size: 1.75rem;
    }
    transition: background-color 0.35s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.25rem 0;
}

p {
  line-height: 150%;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  > * {
    height: 60%;
    width: 60%;
    display: inline-block;
    position: relative;
  }
}

.therm--hot--0 {
  background-color: red !important;
}

.therm--warm--0 {
  background-color: orange !important;
}

.therm--cold--0 {
  background-color: $theme-primary-v7 !important;
}

.container {
  max-width: 68rem;
  margin: auto;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.error {
  color: rgb(223, 95, 95) !important;
}
