@import 'constants';

.Nav {
  position: fixed;
  top: 0;
  max-width: 100vw;
  height: 3.75rem;
  width: 100%;
  z-index: 5;
  opacity: 1;
  overflow: hidden;
  background-color: #eee;
  border-bottom: 1px solid #e2e2e2;
  will-change: transform;
  transition: transform 0.35s ease 0.2s;

  &::before {
    @include before-or-after($tr: unset);
    @include themeBg;
  }

  &.hide {
    opacity: 0;
    transform: translateY(-100%);
  }

  &.inert {
    transition: filter 0.2s;
    filter: blur(0.2rem);
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    position: relative;
  }

  .emblem {
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bolder;
    color: #888;

    .image {
      $size: 2.5rem;

      height: $size;
      width: $size + 0.5rem;
      display: inline-block;
      margin: 0 0.5rem;
      background: {
        size: contain;
        position: center 0.25rem;
        repeat: no-repeat;
      }
    }
  }

  .location {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: absolute;
    left: 8.25rem;
    padding-right: 5rem;
    border-radius: 0.25rem;
    background-color: inherit;
    max-width: calc(100% - 12rem);
    width: 100%;
    color: $theme-tertiary-v3;
    transition: 0.3s;
    font-weight: bolder;

    span {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.hide {
      opacity: 0;
      z-index: -1;
    }

    &.error {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

  form {
    width: 100%;
    max-width: calc(100% - 7.75rem);
    margin-left: 0.25rem;
  }

  & + *,
  & ~ .View > * {
    padding-top: calc(3.75rem + 2vh);
  }
}

.search-input {
  margin-right: 0.5rem;
  border-radius: 2rem;
  padding: 0.75rem;
  color: #000;
  background-color: #fff;
  max-width: calc(100% - 3.5rem);
  width: calc(100% - 3.5rem);
  border: 0.0625rem solid transparent;
  position: relative;
  transform: translateY(-150%);
  transition: 0.25s, background-color 0.35s;

  &:focus,
  &:hover,
  &.focused {
    transform: translateY(0);
  }

  &:focus,
  &:hover {
    background-color: #ddd;
    border-color: transparent;
  }
}

.search-button {
  height: 3rem;
  width: 3rem;

  .icon {
    $color: $theme-tertiary-v1;
    opacity: 0.85;
    $stroke: 0.155rem solid $color;

    height: 1.4rem;
    width: 1.4rem;
    border-radius: inherit;
    border: $stroke;
    will-change: transform;
    transform: translate(-7.5%, -10%);
    transition: 0.3s;

    span {
      height: 55%;
      width: 0.2rem;
      border-radius: 0.5rem;
      background-color: $color;
      position: absolute;
      top: 0;
      display: inline-block;
      left: 50%;
      border: 0.175rem solid transparent;
      will-change: transform, width, height;
      transform: translate(0.35rem, 1.05rem) rotateZ(-35deg);
      transition: inherit;
    }
  }

  &.turn-off {
    .icon {
      transform: translate(0);

      span {
        width: 0.4rem;
        height: 105%;
        border-color: #ddd;
        transform: translate(-0.2rem, -0.55rem) rotateZ(0deg);
      }
    }
  }
}

.search-results-overlay {
  height: calc(100vh - 3.75rem);
  width: 100vw;
  left: 0;
  top: 3.75rem;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  padding: 1rem 0 !important;
  opacity: 0;
  z-index: 6;
  transition: opacity 0.35s;

  &.show {
    opacity: 1;
  }

  .container {
    padding: 0 1rem;
    max-width: 42rem;
  }
}

.search-result {
  color: #222;
  padding: 0.85rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #333;
  background-color: #ddd;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.95rem;
  will-change: transform;
  transition: 0.2s;

  &.fulfilled {
    opacity: 0;
    animation: resultSlideDown 0.4s forwards ease 1.2s;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 0s + (($i - 1) * 0.2);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: transparent;
    }
  }

  .location {
    word-break: break-word;
  }

  .type {
    color: #888;
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }

  & * {
    pointer-events: none;
  }
}

span.search-result {
  background-color: #eee;
  transform: unset !important;
}
