@media screen and (max-width: 767px) {
  .Nav {
    .location {
      padding-right: 0;
    }
  }

  .Home {
    h1 {
      font-size: 2.5rem;
    }
  }

  .card {
    &.type-a {
      h1 {
        font-size: 12vh;
      }

      .desc {
        font-size: 0.95rem;
      }

      .weather-image {
        width: 9rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .card {
    &.type-a {
      min-height: 14rem;
      padding: {
        left: 1rem;
        right: 1rem;
      }

      h1 {
        font-size: 10vh;
      }

      .top {
        width: calc(100% - 2rem);
      }

      .desc-wrapper {
        bottom: 0.75rem;
      }

      .desc {
        font-size: 0.85rem;
      }

      .weather-image {
        width: 7rem;
        bottom: -2rem;
        right: -1rem;
      }
    }
  }
}
