<footer class="Footer">
  <div class="container">
    <section class="side-bar">
      <button class="theme-toggler">
        <span class="icon"><span></span></span>
      </button>
      <div class="icon-container">
        <div class='icon-image'></div>
        <p class="icon-text">
          <span>Weather App</span>
          <span>by @Power'f GOD⚡️⚡️</span>
        </p>
      </div>
      <div class="info-wrapper">
        <p class="title">
          App
        </p>
        <p class="details">
          last synced:
          <small class="last-synced-date">...</small>
          <br />
          version: 1.0.0
        </p>

        <p class="title">
          APIs
        </p>
        <p class="details">
          location:
          <a href="https://geocode.xyz/api" target="_blank">Geocode.xyz</a>
          <br />
          weather:
          <a href="https://openweathermap.org/api/" target="_blank">OpenWeather</a>
        </p>

        <p class="title">
          Weather Icons
        </p>
        <p class="details">
          <a href="https://www.gettyimages.com/detail/illustration/weather-icon-set-elegant-series-royalty-free-illustration/165729273"
            target="_blank">GettyImages</a>
        </p>

        <p class="title">
          Libraries / Frameworks
        </p>
        <p class="details">
          null
        </p>

        <p class="title">Developer</p>
        <p class="details">
          Power Inemesit Sunday:
          <br />
          <a href="https://github.com/power-f-GOD/" class="social github" target="_blank">gitHub</a>
          <a href="https://www.linkedin.com/in/power-sunday-b24204148" class="social linkedin"
            target="_blank">linkedIn</a>
          <a href="https://web.facebook.com/power.sunday3" class="social facebook" target="_blank">facebook</a>
          <a href="https://twitter.com/_powerOfGod" class="social twitter" target="_blank">twitter</a>
        </p>

        <p class="title">
          Code
        </p>
        <p class="details">
          source:
          <a href="https://github.com/power-f-GOD/weather-app/" target="_blank">power-f-GOD</a><br />
          language: <a href="https://www.typescriptlang.org/"
            target="_blank">JavaScript/TypeScript</a><br /><br /><br />
          copyright &copy; 2020
        </p>
      </div>
    </section>
  </div>
  <button class="side-bar-toggler theme--primary--0">
    <span></span><span></span><span></span>
  </button>
</footer>