<main class="Main">
  <div class="container">
    <nav class="tab-links-container">
      <span class="tab-indicator"></span>
      <a href="/today" id="current" class="tab-link active">Now</a>
      <a href="/tomorrow" id="tomorrow" class="tab-link">Tomorrow</a>
      <a href="/other-day" id="other" class="tab-link">...</a>
    </nav>
    %CardTypeA%
    <section class="hourlies-wrapper" role="presentation">
      <button class='hourlies-toggler'>hourly</button>
      <div class="legend container w-100">
        <div class="hourlies-container-1 w-100 text-center">
          <h2>Next 0 - 24 hours</h2>
          <small>(24-hour hourly)</small>
          <section class="list-view" role="list">
            %CardTypeC%
          </section>
        </div>
        <div class="hourlies-container-2 w-100 text-center">
          <h2>Next 24 - 48 hours</h2>
          <small>(24-hour hourly)</small>
          <section class="list-view" role="list">
            %CardTypeC%
          </section>
        </div>
      </div>
    </section>
    <h2>Next 7 days</h2>
    <section class="daily-list-view" role="list">%CardTypeB%</section>
  </div>
</main>