<nav class="Nav hide">
  <div class="container">
    <button class="menu-button icon-button">
      <span class="1"></span><span class="2"></span><span class="3"></span>
    </button>
    <div class='emblem'>
      <span class='image'></span>
      <div>
        <span>Weather</span>
        <span>App</span>
      </div>
    </div>

    <span class="location"><span>Getting weather data...</span></span>

    <form method="GET" class="search-form d-flex justify-content-end align-content-center">
      <input type="search" class="search-input"
        placeholder="Search location name or (comma-separated) coordinates [e.g. 7.1, 5.3]..." />
      <button class="search-button icon-button"></button>
    </form>
  </div>
</nav>
<div class="search-results-overlay">
  <div class="container"></div>
</div>