<nav class="Nav hide">
  <div class="container">
    <div class='emblem'>
      <span class='image'></span>
      <div>
        <span>Weather</span>
        <span>App</span>
      </div>
    </div>

    <span class="location"><span>Fetching weather data...</span></span>

    <form method="GET" class="search-form d-flex justify-content-end align-content-center">
      <input type="search" class="search-input" placeholder="Search location name or coordinates [e.g. 7.1, 5.3]..." />
      <button class="search-button icon-button">
        <span class="icon"><span></span></span>
      </button>
    </form>
  </div>
</nav>
<div class="search-results-overlay" role="presentation">
  <div class="container"></div>
</div>